body{
    background-color:black;
}

.jumbotron{
  background-color: black;
}

h1{
    text-align: center;
    color:white;
}
h3{
  text-align: center;
  color:white;
}

.urlform{
  margin-right: auto;
  margin-left: auto;
  width: 500px;
}


urllink{
  width:500px;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: no-repeat;
    background-size: cover; 
}

.mainpage{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

}


